{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConchOnline Policy Management
{% endblock %}

{% block body %}
<div class="col-md-12">
    <h1 class="headline">Policies</h1>
</div>

<div class="col-md-6">
    <p>Policy checker schemas can check to verify that files fall into parameters specific to the institution or collection. The policy checker can limit files to a fixed range, require that files have both video and audio streams, or conform to a broadcast specification.
    </p>
    <div>
        <h2>Import a policy</h2>
        {% if importPolicyForm is defined and importPolicyForm %}
            {{ form(importPolicyForm) }}
        {% else %}
            {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
        {% endif %}
    </div>

    {% if createPolicyForm is defined and createPolicyForm %}
    <div>
        <h2>Create a policy</h2>
        {{ form(createPolicyForm) }}
    </div>
    {% endif %}
</div>
<div class="col-md-6">
    <h4>Policy list:</h4>
    {% for item in policyList %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ item.id }}">
          <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
              {{ item.policyName }}
          </h4>
        </div>
        <div id="collapse{{ item.id }}" class="panel-collapse collapse{% if 0 == loop.index0 %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ item.id }}">
          <div class="panel-body">
            <a href="{{ path('app_xslpolicy_xslpolicydelete', {'id': item.id}) }}"><button class="btn-danger pull-right">Delete</button></a>
            <a href="{{ path('app_xslpolicy_xslpolicyexport', {'id': item.id}) }}"><button class="btn-warning pull-right">Export</button></a>
            <a href="{{ path('app_xslpolicy_xslpolicyruleedit', {'id': item.id}) }}"><button class="btn-success pull-right">Edit</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

<div class="col-md-12">
    <h1 class="headline">Policies display</h1>
</div>
<div class="col-md-6">
    <div>
        <h2>Import a policy display</h2>
        {% if importPolicyDisplayForm is defined and importPolicyDisplayForm %}
            {{ form(importPolicyDisplayForm) }}
        {% else %}
            {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
        {% endif %}
    </div>
</div>
<div class="col-md-6">
    <h4>Policy display list:</h4>
    {% for item in policyDisplayList %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ item.id }}">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
                {{ item.policyDisplayName }}
            </h4>
            </div>
            <div id="collapse{{ item.id }}" class="panel-collapse collapse{% if 0 == loop.index0 %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ item.id }}">
                <div class="panel-body">
                    <a href="{{ path('app_xslpolicy_xslpolicydisplaydelete', {'id': item.id}) }}"><button class="btn-danger pull-right">Delete</button></a>
                    <a href="{{ path('app_xslpolicy_xslpolicydisplayexport', {'id': item.id}) }}"><button class="btn-warning pull-right">Export</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
