{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConchOnline Policy Management
{% endblock %}

{% block body %}
<div class="col-md-12">
    <h1 class="headline">Policies</h1>
</div>

<div class="col-md-6">
    <p>Policy checker schemas can check to verify that files fall into parameters specific to the institution or collection. The policy checker can limit files to a fixed range, require that files have both video and audio streams, or conform to a broadcast specification.
    </p>
    <p>
        <h2>Import a policy</h2>
        {% if addPolicyForm is defined and addPolicyForm %}
            {{ form(addPolicyForm) }}
        {% endif %}
    </p>
</div>
<div class="col-md-6">
    <h4>Policy list:</h4>
    {% for item in policyList %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ item.id }}">
          <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
              {{ item.policyName }}
          </h4>
        </div>
        <div id="collapse{{ item.id }}" class="panel-collapse collapse{% if selectedPolicy == item.id %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ item.id }}">
          <div class="panel-body">
            <a href="{{ path('app_xslpolicy_xslpolicyruleedit', {'id': item.id}) }}"><button class="btn-success pull-right">Edit</button></a>
            <a href="{{ path('app_xslpolicy_xslpolicydelete', {'id': item.id}) }}"><button class="btn-danger pull-right">Delete</button></a>
            <a href="{{ path('app_xslpolicy_xslpolicyexport', {'id': item.id}) }}"><button class="btn-warning pull-right">Export</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
