{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch checker
{% endblock %}

{% block body %}
<h1>Check files</h1>

{% if formUpload is defined and formUpload %}
    {{ form(formUpload) }}
{% else %}
    {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
{% endif %}

{% if formOnline is defined and formOnline %}
    {{ form(formOnline) }}
{% else %}
    {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
{% endif %}

{% if formRepository is defined and formRepository %}
    {{ form(formRepository) }}
{% else %}
    {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
{% endif %}

{% if checks is iterable %}
    {{ include('AppBundle:Default:fileDetailChecker.html.twig', { 'checks': checks }) }}
{% endif %}

{% endblock %}
