{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch checker
{% endblock %}

{% block body %}
<div class="col-md-12" id="checkerResultTitle">
    <h1>Check files</h1>
    <button type="button" class="close{% if not selectForm %} hidden{% endif %}">&times; Close all results</button>
</div>

<div class="col-md-6">
    <div class="panel-group" id="accordion">
    {% if formUpload is defined and formUpload %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingUpload">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUpload" aria-expanded="true" aria-controls="collapseUpload">
                Check by file upload
            </h4>
            </div>
            <div id="collapseUpload" class="panel-collapse collapse{% if selectForm == 'upload' %} in{% endif %}" role="tabpanel" aria-labelledby="headingUpload">
                {{ form(formUpload) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}

    {% if formOnline is defined and formOnline %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOnline">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOnline" aria-expanded="true" aria-controls="collapseOnline">
                Check online files
            </h4>
            </div>
            <div id="collapseOnline" class="panel-collapse collapse{% if selectForm == 'online' %} in{% endif %}" role="tabpanel" aria-labelledby="headingOnline">
                {{ form(formOnline) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}

    {% if formRepository is defined and formRepository %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingRepository">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRepository" aria-expanded="true" aria-controls="collapseRepository">
                Check server files
            </h4>
            </div>
            <div id="collapseRepository" class="panel-collapse collapse{% if selectForm == 'repository' or not selectForm %} in{% endif %}" role="tabpanel" aria-labelledby="headingRepository">
                {{ form(formRepository) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}
    </div>
</div>
<div class="col-md-6">
{% if checks is iterable %}
    {{ include('AppBundle:Default:fileDetailChecker.html.twig', { 'checks': checks, 'selectForm': selectForm }) }}
{% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {% if checks is iterable %}
        <script src="/static/FileSaver.min.js"></script>
        <script>
            $(document).ready(function() {
                // Add download button to result list
                $('.checker-results li.report p a.results-dld').each(function() {
                    var item = $(this);

                    item.on('click', function(e) {
                        // Don't put a « # » in URL
                        e.preventDefault();

                        report = $(item.data('target')).find('div.modal-body').text().trim();
                        reportName = $(item).data('report-name');
                        reportExt = reportName.replace(/(.*)\.([a-z]{3})$/, "$2");
                        switch(reportExt) {
                            case 'xml':
                                reportType = 'text/xml';
                                break;
                            case 'txt':
                                reportType = 'text/plain';
                                break;
                            default:
                                reportType = 'text/plain';
                        }
                        var blob = new Blob([report], {type: reportType + ';charset=utf-8'});
                        saveAs(blob, reportName);
                    });
                });

                // Add download trace button to result list
                $('.checker-results li.report p a.results-dld-trace').each(function() {
                    var item = $(this);

                    item.on('click', function(e) {
                        // Don't put a « # » in URL
                        e.preventDefault();

                        report = $(item.data('target')).text().trim();
                        reportName = $(item).data('report-name');
                        var blob = new Blob([report], {type: 'text/xml;charset=utf-8'});
                        saveAs(blob, reportName);
                    });
                });

                // Add download trace ajax button to result list
                $('.checker-results li.report p a.results-dld-trace-ajax').each(function() {
                    var item = $(this);

                    item.on('click', function(e) {
                        // Don't put a « # » in URL
                        e.preventDefault();

                        id = $(item).data('target').replace(/#traceXml(\d)/, "$1");
                        url = '{{ path('app_checker_checkerajaxtracefolder', {'id': 0, 'format': 'xml'}) }}';
                        url = url.replace(/(.*)\/(0)/, "$1/" + id);
                        console.log(url);
                        $.get(url)
                            .done(function (d) {
                                reportName = $(item).data('report-name');
                                var blob = new Blob([d], {type: 'text/xml;charset=utf-8'});
                                saveAs(blob, reportName);
                            })
                            .fail(function () {
                                console.log('Fail to get trace XML');
                            });

                    });
                });

                // Button over for result list
                $('.checker-results li.report').each(function() {
                    $(this).hover(
                        function() {
                            $(this).addClass('report-blue');
                            $(this).find('p').removeClass('hidden');
                        },
                        function() {
                        $(this).removeClass('report-blue');
                            $(this).find('p').addClass('hidden');
                        }
                    );
                });

                // Remove result block
                $('.checker-results .panel-heading .close').each(function() {
                    $(this).click(function () {
                        $(this).parent().parent().remove();
                    });
                });

                // Remove all results blocks
                $('#checkerResultTitle .close').click(function () {
                    $('div.checker-results').each(function () {
                        $(this).remove();
                    });
                    $(this).addClass('hidden');
                });

                // Download button binding on modal
                $('.modal-footer .btn-primary').each(function () {
                    $(this).on('click', function(e) {
                        // Don't put a « # » in URL
                        e.preventDefault();

                        item = $(this);
                        report = $(item.data('target')).find('div.modal-body').text().trim();
                        reportName = $(item).data('target').replace(/#modal(\w+)(\d)/, "$1");
                        var blob = new Blob([report], {type: "text/plain;charset=utf-8"});
                        saveAs(blob, reportName + "Report.txt");
                    });
                });
            });
        </script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script>
        {% for check in checks %}
        $('#modalTrace{{ loop.index }}').on('show.bs.modal',
            function() {
                $('#trace{{ loop.index }}').jstree({
                    'core' : {
                        'check_callback' : function (operation, node, parent, position, more) {
                            if (operation === 'copy_node' || operation === 'move_node') {
                                return false; // disable copy and move
                            }
                            else {
                                return true;
                            }
                        },
                        'multiple' : false,
                        {% if selectForm == 'repository' %}
                            'data' : {'url' : '{{ path('app_checker_checkerajaxtracefolder', {'id': loop.index, 'format': 'jstree'}) }}', 'dataType' : 'json'}
                        {% else %}
                            'data' : {{ check.getTrace.jstree|raw }}
                        {% endif %}
                    },
                    "plugins" : ['search', 'types'],
                    'types' : {
                        'default' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'block' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'data' : {'icon' : 'glyphicon glyphicon-file'},
                    },
                })
            });

            $('#trace{{ loop.index }}').on('ready.jstree', function () {
                $(function () {
                    var to = false;
                    $('#traceSearch{{ loop.index }}').keyup(function () {
                        if(to) { clearTimeout(to); }
                        to = setTimeout(function () {
                            var v = $('#traceSearch{{ loop.index }}').val();
                            $('#trace{{ loop.index }}').jstree(true).search(v);
                        }, 250);
                    });
                });
            });
        {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if checks is iterable %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    {% endif %}
{% endblock %}
