{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch checker
{% endblock %}

{% block body %}
<div class="col-md-12" id="checkerResultTitle">
    <h1>Check files</h1>
    <button type="button" class="close{% if not selectForm %} hidden{% endif %}">&times; Close all results</button>
</div>

<div class="col-md-6">
    <div class="panel-group" id="accordion">
    {% if formUpload is defined and formUpload %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingUpload">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUpload" aria-expanded="true" aria-controls="collapseUpload">
                Check by file upload
            </h4>
            </div>
            <div id="collapseUpload" class="panel-collapse collapse{% if selectForm == 'upload' %} in{% endif %}" role="tabpanel" aria-labelledby="headingUpload">
                {{ form(formUpload) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}

    {% if formOnline is defined and formOnline %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOnline">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOnline" aria-expanded="true" aria-controls="collapseOnline">
                Check online files
            </h4>
            </div>
            <div id="collapseOnline" class="panel-collapse collapse{% if selectForm == 'online' %} in{% endif %}" role="tabpanel" aria-labelledby="headingOnline">
                {{ form(formOnline) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}

    {% if formRepository is defined and formRepository %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingRepository">
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRepository" aria-expanded="true" aria-controls="collapseRepository">
                Check server files
            </h4>
            </div>
            <div id="collapseRepository" class="panel-collapse collapse{% if selectForm == 'repository' or not selectForm %} in{% endif %}" role="tabpanel" aria-labelledby="headingRepository">
                {{ form(formRepository) }}
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Default:quotaExceeded.html.twig') }}
    {% endif %}
    </div>
</div>
<div class="col-md-6">
{% if checks is iterable %}
    {{ include('AppBundle:Default:fileDetailChecker.html.twig', { 'checks': checks, 'selectForm': selectForm }) }}
{% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {% if checks is iterable %}
        <script src="/static/FileSaver.min.js"></script>
        <script>
            $(document).ready(function() {
                // Add download button to result list
                $('.checker-results li.report p a.results-dld').each(function() {
                    $(this).on('click', function(e) {
                        e.preventDefault(); // Don't put a « # » in URL
                        downloadReport($(this));
                    });
                });

                // Add download button binding on modal
                $('.modal-footer .report-dld').each(function () {
                    $(this).on('click', function(e) {
                        downloadReport($(this));
                    });
                });

                function downloadReport(item) {
                    report = $(item.data('target')).find('div.modal-body').text().trim();
                    reportName = $(item).data('save-name');
                    reportExt = reportName.replace(/(.*)\.([a-z]{3})$/, "$2");
                    switch(reportExt) {
                        case 'xml':
                            reportType = 'text/xml';
                            break;
                        case 'txt':
                            reportType = 'text/plain';
                            break;
                        default:
                            reportType = 'text/plain';
                    }
                    var blob = new Blob([report], {type: reportType + ';charset=utf-8'});
                    saveAs(blob, reportName);
                };

                // Add download trace button to result list
                $('.checker-results li.report p a.results-dld-trace').each(function() {
                    $(this).on('click', function(e) {
                        e.preventDefault(); // Don't put a « # » in URL
                        downloadTrace($(this));
                    });
                });

                // Add download trace button binding on modal
                $('.modal-footer .report-dld-trace').each(function() {
                    $(this).on('click', function(e) {
                        downloadTrace($(this));
                    });
                });

                function downloadTrace(item) {
                    report = $(item.data('target')).text().trim();
                    reportName = $(item).data('save-name');
                    var blob = new Blob([report], {type: 'text/xml;charset=utf-8'});
                    saveAs(blob, reportName);
                };

                // Add download trace ajax button to result list
                $('.checker-results li.report p a.results-dld-trace-ajax').each(function() {
                    $(this).on('click', function(e) {
                        e.preventDefault(); // Don't put a « # » in URL
                        downloadTraceAjax($(this));
                    });
                });

                // Add download trace ajax button binding on modal
                $('.modal-footer .report-dld-trace-ajax').each(function() {
                    $(this).on('click', function(e) {
                        downloadTraceAjax($(this));
                    });
                });

                function downloadTraceAjax(item) {
                    id = $(item).data('target').replace(/#traceXml(\d)/, "$1");
                    url = '{{ path('app_checker_checkerajaxtracefolder', {'id': 0, 'format': 'xml'}) }}';
                    url = url.replace(/(.*)\/(0)/, "$1/" + id);
                    $.get(url)
                        .done(function (d) {
                            reportName = $(item).data('save-name');
                            var blob = new Blob([d], {type: 'text/xml;charset=utf-8'});
                            saveAs(blob, reportName);
                        })
                        .fail(function () {
                            console.log('Fail to get trace XML');
                        });
                };

                // Add download MediaInfo button to result list
                $('.checker-results li.report p a.results-dld-info').each(function() {
                    $(this).on('click', function(e) {
                        e.preventDefault(); // Don't put a « # » in URL
                        downloadInfo($(this));
                    });
                });

                // Add download MediaInfo button binding on modal
                $('.modal-footer .report-dld-info').each(function() {
                    $(this).on('click', function(e) {
                        downloadInfo($(this));
                    });
                });

                function downloadInfo(item) {
                    report = $(item.data('target')).text().trim();
                    reportName = $(item).data('save-name');
                    var blob = new Blob([report], {type: 'text/xml;charset=utf-8'});
                    saveAs(blob, reportName);
                };

                // Add download MediaInfo ajax button to result list
                $('.checker-results li.report p a.results-dld-info-ajax').each(function() {
                    $(this).on('click', function(e) {
                        e.preventDefault(); // Don't put a « # » in URL
                        downloadInfoAjax($(this));
                    });
                });

                // Add download MediaInfo ajax button binding on modal
                $('.modal-footer .report-dld-info-ajax').each(function() {
                    $(this).on('click', function(e) {
                        downloadInfoAjax($(this));
                    });
                });

                function downloadInfoAjax(item) {
                    id = $(item).data('target').replace(/#infoXml(\d)/, "$1");
                    url = '{{ path('app_checker_checkerajaxinfofolder', {'id': 0, 'format': 'xml'}) }}';
                    url = url.replace(/(.*)\/(0)/, "$1/" + id);
                    $.get(url)
                        .done(function (d) {
                            reportName = $(item).data('save-name');
                            var blob = new Blob([d], {type: 'text/xml;charset=utf-8'});
                            saveAs(blob, reportName);
                        })
                        .fail(function () {
                            console.log('Fail to get MediaInfo XML');
                        });
                };

                // Remove result block
                $('.checker-results .panel-heading .close').each(function() {
                    $(this).click(function () {
                        $(this).parent().parent().remove();

                        // Remove close all button
                        if (0 == $('div.checker-results').length) {
                            $('#checkerResultTitle .close').addClass('hidden');
                        };
                    });
                });

                // Remove all results blocks
                $('#checkerResultTitle .close').click(function () {
                    $('div.checker-results').each(function () {
                        $(this).remove();
                    });

                    // Remove close all button
                    $(this).addClass('hidden');
                });

                // Alert user when they leave checker page with results
                $('.nav a').each(function() {
                    $(this).click(function (e) {
                        // Check if there is close all button
                        if (0 < $('div.checker-results').length) {
                            choice = confirm('Are you sure ?\nAll analysis results will be discarded!');
                            if (choice == false) {
                                e.preventDefault();
                            }
                        };
                    });
                });
            });
        </script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="/static/jstreegrid.js"></script>
        <script>
        {% for check in checks %}
        $('#modalTrace{{ loop.index }}').on('show.bs.modal',
            function() {
                $('#trace{{ loop.index }}').jstree({
                    'core' : {
                        'check_callback' : function (operation, node, parent, position, more) {
                            if (operation === 'copy_node' || operation === 'move_node') {
                                return false; // disable copy and move
                            }
                            else {
                                return true;
                            }
                        },
                        'multiple' : false,
                        'dblclick_toggle' : false,
                        {% if selectForm == 'repository' %}
                            'data' : {'url' : '{{ path('app_checker_checkerajaxtracefolder', {'id': loop.index, 'format': 'jstree'}) }}', 'dataType' : 'json'}
                        {% else %}
                            'data' : {{ check.getTrace.jstree|raw }}
                        {% endif %}
                    },
                    "plugins" : ['search', 'types', 'grid'],
                    'types' : {
                        'default' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'block' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'data' : {'icon' : 'glyphicon glyphicon-file'},
                    },
                    grid: {
                        columns: [
                            {width: 100, header: "Offset", value: "offset"},
                            {width: 500, header: "Key", tree: true},
                            {header: "Value", value: "dataValue"},
                        ],
                        resizable: true,
                    },
                })
            });

            $('#trace{{ loop.index }}').on('ready.jstree', function () {
                $(function () {
                    var to = false;
                    $('#traceSearch{{ loop.index }}').keyup(function () {
                        if(to) { clearTimeout(to); }
                        to = setTimeout(function () {
                            var v = $('#traceSearch{{ loop.index }}').val();
                            $('#trace{{ loop.index }}').jstree(true).search(v);
                        }, 250);
                    });
                });
            });

            $('#trace{{ loop.index }}').on('loaded.jstree', function (e, data) {
                data.instance.get_container().find('li').each(function () {
                    data.instance.open_node($(this));
                })
            });

            $('#trace{{ loop.index }}').on('select_node.jstree', function (e, data) {
                data.instance.toggle_node(data.node);
            });

        $('#modalInfo{{ loop.index }}').on('show.bs.modal',
            function() {
                $('#info{{ loop.index }}').jstree({
                    'core' : {
                        'check_callback' : function (operation, node, parent, position, more) {
                            if (operation === 'copy_node' || operation === 'move_node') {
                                return false; // disable copy and move
                            }
                            else {
                                return true;
                            }
                        },
                        'multiple' : false,
                        'dblclick_toggle' : false,
                        {% if selectForm == 'repository' %}
                            'data' : {'url' : '{{ path('app_checker_checkerajaxinfofolder', {'id': loop.index, 'format': 'jstree'}) }}', 'dataType' : 'json'}
                        {% else %}
                            'data' : {{ check.getInfo.jstree|raw }}
                        {% endif %}
                    },
                    "plugins" : ['search', 'types', 'grid'],
                    'types' : {
                        'default' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'block' : {'icon' : 'glyphicon glyphicon-folder-open'},
                        'data' : {'icon' : 'glyphicon glyphicon-file'},
                    },
                    grid: {
                        columns: [
                            {width: 300, header: "Key", tree: true},
                            {header: "Value", value: "dataValue"},
                        ],
                        resizable: true,
                    },
                })
            });

            $('#info{{ loop.index }}').on('ready.jstree', function () {
                $(function () {
                    var to = false;
                    $('#infoSearch{{ loop.index }}').keyup(function () {
                        if(to) { clearTimeout(to); }
                        to = setTimeout(function () {
                            var v = $('#infoSearch{{ loop.index }}').val();
                            $('#info{{ loop.index }}').jstree(true).search(v);
                        }, 250);
                    });
                });
            });

            $('#info{{ loop.index }}').on('loaded.jstree', function (e, data) {
                data.instance.get_container().find('li').each(function () {
                    data.instance.open_node($(this));
                })
            });

            $('#info{{ loop.index }}').on('select_node.jstree', function (e, data) {
                data.instance.toggle_node(data.node);
            });
        {% endfor %}
        </script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if checks is iterable %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    {% endif %}
{% endblock %}
