<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    {% if user.firstname %}<p>Firstname: {{ user.firstname }}</p>{% endif %}
    {% if user.lastname %}<p>Lastname: {{ user.lastname }}</p>{% endif %}
    {% if user.country %}<p>Country: {{ user.country }}</p>{% endif %}
    {% if user.language %}<p>Language: {{ user.language }}</p>{% endif %}
    <p>Professional: {% if 'y' == user.professional %}Yes{% elseif 'n' == user.professional %}No{% else %}Not specified{% endif %}</p>
    {% if user.companyName %}<p>Company name: {{ user.companyName }}</p>{% endif %}
    <p>Newsletter: {% if user.newsletter %}Yes{% else %}No{% endif %}</p>
</div>

<div>
    <p>Quotas :</p>
    <ul>
        <li>Policies : {{ quotas.policiesUsed }} / {{ quotas.policiesQuota }}</li>
        <li>Uploads : {{ quotas.uploadsUsed }} / {{ quotas.uploadsQuota }}{% if quotas.uploadsLimit %} (valid until {{ quotas.uploadsLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
        <li>Urls : {{ quotas.urlsUsed }} / {{ quotas.urlsQuota }}{% if quotas.urlsLimit %} (valid until {{ quotas.urlsLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
        <li>Policy checks : {{ quotas.policyChecksUsed }} / {{ quotas.policyChecksQuota }}{% if quotas.policyChecksLimit %} (valid until {{ quotas.policyChecksLimit|date("Y-m-d H:i:s") }} UTC){% endif %}</li>
    </ul>
<div>

<div class="fos_user_user_actions">
    <p><a href="{{ path('fos_user_profile_edit') }}">Edit your profile</a></p>
    <p><a href="{{ path('fos_user_change_password') }}">Change your password</a></p>
</div>
