{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch Demo full file checker
{% endblock %}

{% block body %}
<h1>MediaConch Demo full file checker</h1>
<div>
{{ form(form) }}
</div>

{% if check != false %}
<br />
<div>
Check result :
    <ul>
        <li>File : {{ check.name}} {{ check.isValid ? 'is <b>valid</b>' : 'is <b>not valid</b>' }}
        {% if check.errors|length > 0 %}
            <ul>
            {% for error in check.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
            <ul>
                <li>{% for xml in check.xml %}{{ xml }} <br /> {% endfor %}</li>
            </ul>
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}
