{% if checks|length > 0 %}
    {% for check in checks %}
        <div class="panel panel-default checker-results">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">Result for {{ check.getSource }}</h4>
                <button type="button" class="close" title="Close result">&times;</button>
            </div>
            <div>
                <ul class="list-group">
                    {% if check.getPolicy is iterable %}
                        <li class="list-group-item">This file is: <span class="text-uppercase text-{{ check.getStatus ? 'success' : 'danger' }}"><b>{{ check.getStatus ? '' : 'not ' }}valid</b></span></li>
                        <li class="list-group-item report">Policy report
                            <p class="text-right hidden">
                                <a href="#" data-toggle="modal" data-target="#modalPolicy{{ loop.index }}" title="View report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld" data-target="#modalPolicy{{ loop.index }}" data-report-name="PolicyReport.txt" title="Download report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                            </p>
                        </li>
                    {% endif %}
                    {% if check.getConformance %}
                        <li class="list-group-item report">Implementation report
                            <p class="text-right hidden">
                                <a href="#" data-toggle="modal" data-target="#modalConformance{{ loop.index }}" title="View report"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld" data-target="#modalConformance{{ loop.index }}" data-report-name="ConformanceReport.txt" title="Download report"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                            </p>
                        </li>
                    {% endif %}
                    {% if check.getXml %}
                        <li class="list-group-item report">MediaInfo XML
                            <p class="text-right hidden">
                                <a href="#" data-toggle="modal" data-target="#modalXml{{ loop.index }}" title="View XML"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld" data-target="#modalXml{{ loop.index }}" data-report-name="MediaInfo.xml" title="Download XML"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                            </p>
                        </li>
                    {% endif %}
                    {% if check.getTrace or selectForm == 'repository' %}
                        <li class="list-group-item report">MediaInfo Trace
                            <p class="text-right hidden">
                                <a href="#" data-toggle="modal" data-target="#modalTrace{{ loop.index }}" title="View trace"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a><a href="#" class="results-dld-trace{% if not check.getTrace %}-ajax{% endif %}" data-target="#traceXml{{ loop.index }}" data-report-name="MediaTrace.xml" title="Download trace"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                            </p>
                        </li>
                    {% endif %}
                </ul>
            </div>

            {% if check.getPolicy is iterable %}
                <div id="modalPolicy{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Policy report</h4>
                            </div>
                            <div class="modal-body">
                                {% if check.getPolicy|length > 0 %}
                                    <ul>
                                    {% for policy in check.getPolicy %}
                                        <li>{{ policy|nl2br }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    No error!
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld" data-target="#modalPolicy{{ loop.index }}" data-report-name="PolicyReport.txt">Download report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if check.getConformance %}
                <div id="modalConformance{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Implementation report</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{ check.getConformance|replace({' ': '&nbsp;'})|raw|nl2br }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld" data-target="#modalConformance{{ loop.index }}" data-report-name="ConformanceReport.txt">Download report</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if check.getXml %}
                <div id="modalXml{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">MediaInfo XML</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{ check.getXml|nl2br }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld" data-target="#modalXml{{ loop.index }}"" data-report-name="MediaInfo.xml">Download XML</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if check.getTrace or selectForm == 'repository' %}
                <div id="modalTrace{{ loop.index }}" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">MediaTrace</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8 col-xs-8">
                                        <i class="glyphicon glyphicon-search"></i><input type="text" value="" class="traceSearch" id="traceSearch{{ loop.index }}" placeholder="Search" />
                                    </div>
                                    <div id="trace{{ loop.index }}" class="col-md-8"></div>
                                    <div id="traceInfo{{ loop.index }}" class="col-md-4"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary report-dld-trace{% if not check.getTrace %}-ajax{% endif %}" data-target="#traceXml{{ loop.index }}" data-report-name="MediaTrace.xml">Download trace</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if check.getTrace %}
                    <div id="traceXml{{ loop.index }}" class="hidden">
                        {{ check.getTrace.xml|nl2br }}
                    </div>
                {% endif %}
            {% endif %}

        </div>
    {% endfor %}
{% endif %}
